/* ./styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(249, 252, 255);
}

progress {
  @apply bg-blue-300;
}

button:focus, button:active {
  outline: 0px dotted;
}

.photo{
    @apply border-vibrant-blue border-8;
}

.display-override{
  display: block !important;
}

.btn{
    @apply text-center text-txt-white font-bold hover:bg-vibrant-blue-dk bg-vibrant-blue rounded-3xl p-2;
}

.btn-secondary{
  @apply border-2 border-vibrant-blue text-center text-vibrant-blue font-bold hover:bg-vibrant-blue hover:text-txt-white  self-center rounded-full p-2;
}

.icon-btn{
  @apply p-4 text-2xl;
}

.badge{
  @apply rounded-xl  py-2 text-vibrant-blue bg-blue-300 grid justify-center m-2;
}